.slick-dots {
    @apply flex justify-center mt-4;
  }
  
  .slick-dots li {
    @apply mx-1;
  }
  
  .slick-dots li button:before {
    @apply text-transparent;
  }
  
  .slick-dots li.slick-active div {
    @apply bg-black;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }