@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {
  .text-shadow {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
}

* {
  user-select: none;
}

video {
  border-radius: 8px !important;
  border: rgba(0, 0, 0, 0.5) 1px solid;
  filter: brightness(0.8);
}

video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

p,
div,
spam {
  color: #101422;
  user-select: none;
}

// div:hover {
//  background: #A8DCE7;
//   color: #101422;
//}
