@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {
  .text-shadow {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
}

video {
  border-radius: 20px !important;
  border: rgba(0, 0, 0, 0.5) 1px solid;
}

p,
div,
spam {
  color: #101422;
}

// div:hover {
//  background: #A8DCE7;
//   color: #101422;
//}
